@import "tailwindcss";

@theme {
  /* Set Font Utama */
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;

  --color-brand-dark: #6a1b1b;
  --color-brand-default: #8b2626;
  --color-brand-light: #a83232;
  --color-brand-bg: #f8f9fa;
}